@import url("reset.css");
@import url("font.css");
@import url("swiper-bundle.min.css");

:root {
  --general-bg: #101010;
  --add-general-bg: #181818;
  --accent: #e7af3e;
  --accent-hover: #b96344;
  --text-color: #fafafa;
  --border: rgba(250, 250, 250, 0.5);
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 2vw;
}
body {
  font-family: "Montserrat", "Arial", san-serif;
  letter-spacing: -0.06em;
}
.body--opened-modal,
.body--opened-menu {
  overflow: hidden;
}
.main {
  flex-grow: 1;
}
.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 70px;
  height: 100%;
}
.services,
.autopark,
.advantages,
.gallery,
.footer {
  padding: 90px 0 65px;
}
.title {
  color: var(--text-color);
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 65px;
}
.button {
  display: block;
  padding: 20px 30px;
  background: transparent;
  border: 3px solid var(--accent);
  border-radius: 5px;
  color: var(--text-color);
  text-transform: uppercase;
  font-weight: 500;
  transition: all 0.3s;
}
.button:hover {
  background: var(--accent);
}
/* --header---------------------------------------------------------------- */
.header__inner {
  position: relative;
  z-index: 1000;
  padding-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  max-width: 93px;
}
.logo img {
  width: 100%;
}
.header__nav {
  padding: 5px 16px 6px 25px;
  background: rgb(22, 22, 22, .8);
  border-radius: 12px;
  color: #fafafa;
  display: flex;
  align-items: center;
}
.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 45px;
}
.nav__link {
  color: #fafafa;
  font-size: 26px;
  font-weight: 300;
  transition: all 0.3s;
}
.nav__link:hover {
  color: var(--accent);
}
.nav__number {
  padding: 0 35px 0 90px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fafafa;
  font-size: 26px;
  font-weight: 500;
}
.social__list {
  display: flex;
  align-items: center;
  gap: 15px;
}
.social__link {
  max-width: 49px;
}
.social__link svg {
  width: 100%;
}
.social__link svg path {
  transition: all 0.3s;
}
.social__link:hover svg path {
  fill: var(--accent-hover);
}
/* burger-menu */
.burger-icon {
  width: 50px;
  height: 50px;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 11;
}
.burger-icon span,
.burger-icon span::after,
.burger-icon span::before {
  display: block;
  background: var(--text-color);
  width: 23px;
  height: 2.5px;

  transition: all 0.3s;
}
.burger-icon span {
  position: relative;
}
.burger-icon span::after,
.burger-icon span::before {
  content: "";
  position: absolute;
}
.burger-icon span::after {
  bottom: -6px;
  transition: all 0.3s;
}
.burger-icon span::before {
  top: -6px;
  transition: all 0.3s;
}
.body--opened-menu .burger-icon span::before {
  top: 0px;
  transform: rotate(45deg);
}
.body--opened-menu .burger-icon span::after {
  bottom: 0px;
  transform: rotate(-45deg);
}
.body--opened-menu .burger-icon span {
  background: transparent;
}

/* --header-slider--------------------------------------------------------- */
.header__slider {
  width: 100%;
  margin-top: -110px;
  overflow: hidden;
  z-index: 0;
}
.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  position: relative;
  z-index: 0;
}
.slide {
  min-width: 100%;
  box-sizing: border-box;
  z-index: 1;
  background: linear-gradient(rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%),
    url("../img/header.jpg") 0% 70% / cover no-repeat;
  padding: 200px 0 300px;
}
.slide-info {
  position: relative;
  z-index: 111111;
}
.slide-title {
  font-size: 54px;
  max-width: 1000px;
  width: 100%;
  text-align: start;
  margin-bottom: 0;
}
.slide-title span {
  color: var(--accent);
}
.slide-text {
  font-size: 26px;
  font-weight: 300;
  color: var(--text-color);
  margin-bottom: 30px;
}
.slide-btn {
  max-width: 314px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  white-space: nowrap;
}
.nav-container {
  position: relative;
}
.navigation {
  z-index: 1;
  max-width: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 65px;
  position: absolute;
  left: 50%;
  bottom: -28%;
  transform: translate(-50%, -28%);
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 15px;
    left: 0;
    width: 100%;
}
.swiper-pagination-bullet {
    background: var(--text-color);
    opacity: 1;
}
.swiper-pagination-bullet-active{
  background: var(--accent);
}
.banner-prev,
.banner-next {
  background: transparent;
}

.pagination {
  display: flex;
  justify-content: center;
}
.pagination-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--text-color);
  margin: 0 5px;
  cursor: pointer;
}
.pagination-dot.active {
  background-color: var(--accent);
}
/* --services-------------------------------------------------------------- */
.services {
  background: var(--general-bg);
}
.services__list {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 55px 0;
}
.services__item {
  max-width: 550px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--text-color);
}
.services__item-img {
  max-width: 495px;
  width: 100%;
  border-radius: 12px;
  margin-bottom: 25px;
}
.services__item-title {
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 10px;
}
.services__item-desc {
  font-size: 24px;
  font-weight: 300;
}

/* --autopark-------------------------------------------------------------- */
.autopark {
  background: var(--add-general-bg);
}
.autopark__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 40px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px 36px 120px;
  background: var(--general-bg);
  border: 2px solid #888888;
  border-radius: 12px;
  color: var(--text-color);
}
.card-img {
  max-width: 495px;
  width: 100%;
  border-radius: 12px;
  margin-bottom: 25px;
}
.card-title {
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 10px;
}
.card-text {
  width: 100%;
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 55px;
}
.card-button {
  font-size: 26px;
}

/* --advantages------------------------------------------------------------ */
 .advantages {
  background: var(--general-bg);
}
.advantages__list {
  color: var(--text-color);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  gap: 55px 35px;
}
.advantages__item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 26px;
  max-width: 890px;
}
.advantages__item-img {
  width: 103px;
  height: 79px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.advantage-title {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 10px;
}
.advantage-text {
  font-size: 26px;
  font-weight: 300;
  max-width: 739px;
} 


/* --gallery--------------------------------------------------------------- */
 .gallery {
  background: var(--add-general-bg);
}
.gallery__slider {
  overflow: visible;
}
.gallery__slides {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 40px;
}
.gallery__slide {
  max-width: 700px;
}
.gallery__slide-img {
  width: 100%;
  border-radius: 12px;
}
.gallery__controls {
  display: none;
} 
/* --footer---------------------------------------------------------------- */
.footer {
  background: #101010;
}
.footer-columns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px 20px;
}
.footer-column {
  font-size: 26px;
  color: var(--text-color);
}
.footer-column:last-child {
  max-width: 1030px;
  width: 100%;
  border: 2px solid #888888;
  border-radius: 12px;
  padding: 20px 28px 23px;
}
.footer__number {
  font-weight: 500;
  margin-bottom: 22px;
}
.footer__number-text {
  margin-bottom: 5px;
  white-space: nowrap;
}
.footer__number-phone {
  color: var(--accent);
}
.footer__social {
  margin-bottom: 25px;
}
.footer__social-text {
  white-space: nowrap;
  font-weight: 300;
  margin-bottom: 9px;
}
.footer__social .social__link {
  max-width: 45px;
}
.footer__social .social__link svg {
  width: 100%;
}
.footer__social .social__list {
  display: flex;
  justify-content: start;
}
.footer__address {
  white-space: nowrap;
  font-weight: 500;
  margin-bottom: 5px;
}
.footer__address p:last-child {
  font-weight: 300;
  margin-bottom: 0px;
}
.footer__form-title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.footer__form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0px 10px;
}
.footer__form input {
  background: transparent;
  color: var(--text-color);
  font-size: 26px;
  border: 1.5px solid #888888;
  border-radius: 12px;
  max-width: 480px;
  width: 100%;
  padding: 25px 18px;
  margin-bottom: 36px;
}
.footer__form input::placeholder {
  color: var(--text-color);
  font-size: 26px;
  font-weight: 300;
}
.footer__button {
  font-size: 20px;
}
.adaptiv-address {
  display: none;
}

/* modal-window */
.modal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00000077;
  padding: 10px;
  z-index: 11111;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;
}
.modal__window {
  position: relative;
  max-width: 580px;
  width: 100%;
  padding: 30px 30px;
  background: var(--general-bg);
  border: 2px solid #888888;
  border-radius: 5px;
  color: var(--text-color);
  text-align: center;
}
.modal-title {
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 15px;
}
.modal-form input {
  max-width: 524px;
  width: 100%;
  padding: 25px 18px;
  background: transparent;
  border: 1.5px solid #888888;
  border-radius: 12px;
  font-size: 26px;
  color: var(--text-color);
  margin-bottom: 10px;
}
.modal-form input::placeholder {
  color: var(--text-color);
  font-weight: 300;
}
.modal-btn {
  font-size: 22px;
  margin: 10px auto 0;
}
.modal__cancel {
  width: 30px;
  position: absolute;
  top: 3%;
  right: 0;
}
.modal__cancel a svg path {
  transition: all 0.3s;
  fill: #888888;
}
.modal__cancel:hover a svg path {
  fill: var(--text-color);
}

.body--opened-modal .modal {
  opacity: 1;
  visibility: visible;
}

/* ------------------------------------------------------------------------- */
@media (max-width: 1700px) {
  /* ---header--- */
  .nav__list {
    gap: 30px;
  }
  .nav__number {
    padding: 0 20px 0 40px;
  }
  .slide {
    padding: 180px 0 250px;
  }
  /* ---services--- */
  .services__list {
    gap: 55px 20px;
  }
  .services__item {
    max-width: 440px;
  }
  .services__item-title,
  .services__item-desc,
  .card-title,
  .card-text {
    font-size: 22px;
  }
  /* footer */
  .footer-column:last-child {
    max-width: 940px;
  }
  .footer__form input {
    max-width: 400px;
  }
}
@media (max-width: 1600px) {
  /* общие */
  .title {
    margin-bottom: 50px;
  }
  /* ---header--- */
  .header__nav {
    padding: 5px 16px ;
  }
  .nav__link,
  .nav__number {
    font-size: 20px;
  }
  .nav__number svg,
  .social__link svg {
    width: 30px;
  }
  .social__list {
    gap: 10px;
  }

  /* ---header-slider--- */
  .slide-title {
    max-width: 900px;
    margin-bottom: 0;
  }
  .gallery__slide {
  max-width: 600px;
}
}
@media (max-width: 1500px) {
  /* Общие */
  .services,
  .autopark,
  .advantages,
  .gallery,
  .footer {
    padding: 60px 0 40px;
  }
  /* ---services--- */
  .services__item {
    max-width: 400px;
  }
  .services__item-title,
  .services__item-desc,
  .card-title,
  .advantage-title,
  .advantage-text {
    font-size: 20px;
  }
  .card {
    padding: 20px 35px 90px;
  }
  .card-text {
    font-size: 17px;
    margin-bottom: 35px;
  }
  .card-button {
    font-size: 20px;
  }
  /* footer */
  .footer__form input {
    max-width: 385px;
  }
}
@media (max-width: 1400px) {
  .title {
    margin-bottom: 35px;
  }

  /* ---header-slider--- */
  .slide-title {
    font-size: 45px;
    max-width: 750px;
    margin-bottom: 0;
  }
  .slide-text {
    font-size: 20px;
  }
  /* ---services--- */
  .services__list {
    gap: 40px 20px;
  }
  .services__item {
    max-width: 370px;
  }
  .services__item-title,
  .services__item-desc {
    font-size: 18px;
  }
  /* autopark */
  .card {
    padding: 30px 35px 90px;
  }
  .card-text {
    font-size: 16px;
  }
  .advantage-title,
  .advantage-text {
    font-size: 18px;
  }
  .gallery__slide {
  max-width: 570px;
}
  /* footer */
  .footer-columns {
    gap: 20px 50px;
  }
  .footer__form input {
    max-width: 350px;
  }
  .footer__number-text,
  .footer__social-text,
  .footer__address,
  .adaptiv-address {
    font-size: 20px;
  }
  .footer-column:last-child {
    max-width: 850px;
  }
}
@media (max-width: 1300px) {
  /* Общие */
  .button {
    padding: 15px 20px;
  }
  .container {
    padding: 0 35px;
  }
  /* header */
  .header__nav {
    padding: 5px 16px ;
  }
  .nav__list {
    gap: 20px;
  }
  .nav__link,
  .nav__number {
    font-size: 18px;
  }
  .nav__number {
    padding: 0 10px 0 25px;
  }
  .nav__number svg,
  .social__link svg {
    width: 25px;
  }
  /* header-slider */
  .slide-btn {
    max-width: 280px;
    font-size: 22px;
  }
  .logo {
    max-width: 70px;
  }
  /* ---services--- */
  .services__item {
    max-width: 350px;
  }
  .gallery__slide {
  max-width: 550px;
}
  /* footer */
  .footer-column:last-child {
    max-width: 800px;
  }
  
}
@media (max-width: 1200px) {
  /* ---services--- */
  .services__item {
    max-width: 330px;
  }
  .services__item-title,
  .services__item-desc,
  .card-title,
  .card-text {
    font-size: 16px;
  }
  /* ---autopark---- */
  .autopark__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .card {
    max-width: 400px;
  }
  .gallery__slide {
  max-width: 490px;
}
  .footer__number-text,
  .footer__address {
    white-space: nowrap;
  }
  .footer__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
      .footer-column:last-child {
        max-width: 600px;
    }
}
@media (max-width: 1100px) {
  /* ---header--- */
  .social__list {
    display: none;
  }
  .nav__number {
    padding: 0 0 0 25px;
  }
  .services__item {
    max-width: 380px;
  }
  /* ---services--- */
  .services__item {
    max-width: 300px;
  }
  .gallery__slide {
  max-width: 400px;
}
}
@media (max-width: 1000px) {
  /* ---services--- */
  .services__item {
    max-width: 330px;
  }
}
@media (max-width: 900px) {
  /* ---Общие--- */
  .title {
    font-size: 38px;
  }
  /* ---header--- */
  .header__inner {
    padding: 0px 14px;
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: #161616;
    border-radius: 12px;
  }
  .header__nav {
    padding: 0;
    max-width: 65%;
    width: 100%;
    justify-content: space-between;
  }
  .logo {
    padding: 7px 0 8px;
  }
  .nav__number {
    padding: 0;
  }
  /* burger-menu */
  .nav {
    position: fixed;
    inset: 0;
    z-index: 10;
    height: 100%;
    background: url("../img/adapt-bg.jpg") 45% 0% / cover no-repeat;
    box-shadow: 4px 22px 40px rgba(30, 35, 66, 0.58);
    font-size: 24px;
    align-items: center;
    padding: 5vw;

    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s;
  }
  .nav__list {
    flex-direction: column;
    align-items: start;
    text-align: left;
    margin-bottom: 20px;
    position: relative;
    z-index: 10000;
  }
  .nav__link {
    font-weight: 500;
  }
  .body--opened-menu .nav {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
  }
  .burger-icon {
    display: flex;
  }
  /* ---header-slider--- */
  .slide-title {
    max-width: 650px;
  }
  .slide-text {
    font-size: 20px;
  }
  /* advantages */
  .advantages__list {
    grid-template-columns: none;
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
    text-align: center;
  }
  .advantages__item {
    flex-direction: column;
    gap: 20px;
  }
  .advantages__item-img {
    align-items: end;
  }
      /* gallery */
    .gallery__slider {
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 0;
    
  }
    .gallery__slides {
    display: flex;
    justify-content: start;
    flex-wrap: nowrap;
    gap: 0;
    z-index: 0;
  }
  .gallery__slide {
    min-width: 100%;
    box-sizing: border-box;
  }
  .gallery__slide-img {
    border-radius: 12px;
  }
   .gallery__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: relative;
    overflow: visible;
    z-index: 1;
    
  }
   .gallery__controls .gallery__arrows-prev,
  .gallery__controls .gallery__arrows-next {
    position: absolute;
    background: var(--accent);
    border-radius: 100px;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;

  }
    .gallery__controls .gallery__arrows-prev {
    left: -1%;
    bottom: 280px;
    transform: translate(1%);
  }
  .gallery__controls .gallery__arrows-next {
    right: -1%;
    bottom: 280px;
    transform: translate(1%);
  }

  /* footer */
  .footer-columns {
    text-align: center;
    flex-direction: column;
  }
  .footer__form input {
    max-width: none;
    width: 100%;
  }
  .footer__address {
    display: none;
  }
  .footer__social .social__list {
    display: flex;
    justify-content: center;
  }
  .adaptiv-address {
    display: block;
    color: var(--text-color);
    margin-top: 40px;
    text-align: center;
  }
  .adaptiv-address p:first-child {
    font-weight: 500;
  }
  .adaptiv-address p:last-child {
    font-weight: 300;
  }
}
@media (max-width: 850px) {
  .gallery__controls .gallery__arrows-prev {
    left: -1%;
    bottom: 230px;
    transform: translate(1%);
  }
  .gallery__controls .gallery__arrows-next {
    right: -1%;
    bottom: 230px;
    transform: translate(1%);
  }
}
@media (max-width: 800px) {
  /* ---services--- */
  .services__item {
    max-width: 400px;
  }
  /* gallery */
  .gallery__controls .gallery__arrows-prev {
    left: -1%;
    bottom: 190px;
    transform: translate(1%);
  }
  .gallery__controls .gallery__arrows-next {
    right: -1%;
    bottom: 190px;
    transform: translate(1%);
  }
}

@media (max-width: 700px) {
  /* ---Общие--- */
  .button {
    padding: 10px 15px;
  }
  /* ---header-slider--- */
  .slide {
    padding: 180px 0 200px;
  }
  .slide-title {
    font-size: 30px;
  }
  .slide-text {
    max-width: 400px;
    font-size: 18px;
  }
  .slide-btn {
    max-width: 250px;
    font-size: 18px;
  }
}
@media (max-width: 600px) {
  /* Общее */
  .title,
  .slide-title {
    font-size: 26px;
  }
  /* ---header--- */
  .header__nav {
    max-width: 70%;
  }
  /* gallery */
  .gallery__controls .gallery__arrows-prev {
    left: -1%;
    bottom: 140px;
    transform: translate(1%);
  }
  .gallery__controls .gallery__arrows-next {
    right: -1%;
    bottom: 140px;
    transform: translate(1%);
  }
  .footer-column .social__link svg {
    width: 35px;
  }
}
@media (max-width: 500px) {
  .container {
    padding: 0 15px;
  }
  .title {
    font-size: 24px;
    margin-bottom: 35px;
  }
  .services,
  .autopark,
  .advantages,
  .gallery,
  .footer {
    border-top: 1.5px solid var(--border);
    padding: 50px 0;
  }
  /* header */
  .logo {
    max-width: 50px;
  }
  .nav__number {
    font-size: 16px;
  }
  .nav__number svg {
    width: 18.1px;
  }
  .burger-icon {
    width: 23px;
  }

  /* header-slider */
        .slide {
        padding: 140px 0 260px;
        background: linear-gradient(rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), url(../img/header.jpg) 24% 70% / cover no-repeat;
    }
  .slide-title {
    font-size: 24px;
    margin-bottom: 0;
  }
  .slide-text {
    font-size: 14px;
    margin-bottom: 15px;
  }
  .slide-btn {
    padding: 12px 17px;
    max-width: 161px;
    font-size: 13px;
  }
  .navigation {
    bottom: 48%;
    transform: translate(-50%, -48%);
  }

  /* services */
  .services__list {
    gap: 35px 0;
  }
  .services__item-img {
    margin-bottom: 20px;
  }
  .services__item-title {
    font-size: 20px;
    margin-bottom: 6px;
  }
  .services__item-desc {
    font-size: 14px;
  }

  /* autopark */
  .autopark__cards {
    grid-template-columns: none;
    grid-template-rows: repeat(3, 1fr);
  }
  .card {
    padding: 15px 15px 110px;
    border: 1px solid #888888;
  }
  .card-img {
    margin-bottom: 15px;
  }
  .card-title {
    font-size: 20px;
    margin-bottom: 6px;
  }
  .card-text {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .card-button {
    font-size: 13px;
  }

  /* advantages */
  .advantages__list {
    gap: 40px 35px;
  }
  .advantage-title {
    font-size: 20px;
    margin-bottom: 6px;
  }
  .advantage-text {
    font-size: 14px;
  }

  /* gallery */
  .gallery__controls .gallery__arrows-prev {
    bottom: 115px;
  }
  .gallery__controls .gallery__arrows-next {
    bottom: 115px;
  }
  /* footer */
  .footer-columns {
    gap: 0;
  }
  .footer-column {
    font-size: 20px;
  }
  .footer-column:last-child {
    border: 1px solid #888888;
    padding: 12px 15px;
  }
  .footer__number,
  .footer__social {
    text-align: center;
    max-width: 302px;
    margin-bottom: 35px;
  }
  .footer__number {
    max-width: 302px;
  }
  .footer__social {
    margin: 0 auto 35px;
    max-width: 266px;
  }
  .footer__social .social__list {
    justify-content: center;
  }
  .footer__social .social__link svg {
    max-width: 30px;
    width: 100%;
  }
  .footer__form-title {
    margin-bottom: 8px;
  }
  .footer__form input {
    border: 0.75px solid #888888;
    padding: 16px;
    margin-bottom: 5px;
  }
  .footer__form input::placeholder {
    font-size: 13px;
  }
  .footer__button {
    margin-top: 7px;
    padding: 12px 17px;
    border: 1.75px solid var(--accent);
    font-size: 12px;
  }
  .adaptiv-address p:first-child {
    font-size: 20px;
    font-weight: 500;
  }
  .adaptiv-address p:last-child {
    font-size: 13px;
    font-weight: 300;
  }
  .footer__number-text {
    white-space: wrap;
  }

  /* modal-window */
  .modal__inner {
    border: 1px solid #888888;
    padding: 12px 15px;
  }
  .modal-title {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .modal-form {
  }
  .modal-form input {
    border: 0.75px solid #888888;
    padding: 16px;
    margin-bottom: 5px;
    font-size: 15px;
  }
  .modal-btn {
    padding: 12px 17px;
    border: 1.75px solid var(--accent);
    font-size: 12px;
    margin: 5px auto 0;
  }
}
@media (max-width: 400px) {
  .header__nav {
    max-width: 75%;
  }
  .gallery__controls .gallery__arrows-prev {
    left: -1%;
    bottom: 85px;
    transform: translate(1%);
  }
  .gallery__controls .gallery__arrows-next {
    right: -1%;
    bottom: 85px;
    transform: translate(1%);
  }
}
